* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header, footer {
  user-select: none;
}
footer {
  display: flex;
  width: 100vw;
  margin-bottom: 8px !important;
  align-self: baseline;
  flex-direction: column;
  justify-content: center;
}

.arco-typography b {
  font-weight: bold;
}
body.mobile .arco-modal.arco-modal-simple {
  max-width: 75vw;
}
body.mobile .arco-modal:not(.arco-modal-simple) {
  max-width: 90vw;
}
